
@{
    ViewBag.Title = "Register";
}


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <i class="bi bi-person-fill"></i>
        </div>

        <!-- Login Form -->
        <form id="register" method="post" action="/Users/Register">
            @Html.AntiForgeryToken()
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Passowrd">
            <input type="password" id="passwordRep" class="fadeIn third" name="passwordRep" placeholder="Repeat Password">
            <input type="submit" class="fadeIn fourth" value="Register Now!">
        </form>

    </div>
</div>

