@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <img id="logo" style="padding-bottom:100px; padding-top:50px;" class="center" src="../../pics/logo-white.jpeg">
        <p class="lead">Music Is Us is a website for music lovers!You can see alot of Vinyls and music instruments around the globe. You can like them and get recomendations just for you. We hope you would enjoy!</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">contact us &raquo;</a></p>
    </div>
</div>
<br />
<br />
<br />
<br/>
<div class="row">
    <div class="col-md-5">
        <div class="videoPlayer">
            <iframe width="400" height="250" src="https://www.youtube.com/embed/rt4zLhT2opc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="videoPlayer">
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbJ6IpvItkve3" width="400" height="250" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>