body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.videoPlayer{
    position:relative;
    left:25%;
}
.multi-column-text {
    column-count: 4;
    column-gap: 30px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
}
.main-aside {
    width: 15%;
    padding: 15px;
    position: absolute;
    top: 50px;
    right: 0;
    height: 100%;
}
    /*set an image in center*/
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    transition: width 2s;
}

.center:hover {
    width: 60%
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 18px;
}

.single-stat {
    border: 3px;
    border-color: black;
    border-style: double;
    padding: 10px;
    width: 400px;
    text-align: center;
}

.card-new {
  /* Add shadows to create the "card" effect */
  margin-top:1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 40px;
  color:dodgerblue;
  background-color:#ffffff;
}

/* On mouse-over, add a deeper shadow */
.card-new:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}
